<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIBaseURL</key>
	<string>$(API_BASE_URL)</string>
	<key>AppEnvironment</key>
	<string>$(APP_ENVIRONMENT)</string>
	<key>ApplePayMerchantID</key>
	<string>$(APPLE_PAY_MERCHANT_ID)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>cs</string>
	<key>CFBundleDisplayName</key>
	<string>Privofit</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Google OAuth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(GOOGLE_CALLBACK_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CheckoutURL</key>
	<string>$(CHECKOUT_URL)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>GoogleClientID</key>
	<string>$(GOOGLE_CLIENT_ID)</string>
	<key>GoogleRedirectURI</key>
	<string>$(GOOGLE_REDIRECT_URI)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSFaceIDUsageDescription</key>
	<string>Face ID chrání tvůj účet a potvrzuje vstup do Privofit.</string>
	<key>PrivacyURL</key>
	<string>$(PRIVACY_URL)</string>
	<key>SupportURL</key>
	<string>$(SUPPORT_URL)</string>
	<key>TermsURL</key>
	<string>$(TERMS_URL)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>Background</string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
