#include "Base.xcconfig"
APP_ENVIRONMENT = development
APS_ENVIRONMENT = development
// $() stops xcconfig from treating // as a comment.
API_BASE_URL = https:/$()/privofit.cz/api/v1/
SUPPORT_URL = https:/$()/privofit.cz/kontakt
TERMS_URL = https:/$()/privofit.cz/dokument/obchodni-podminky
PRIVACY_URL = https:/$()/privofit.cz/dokument/ochrana-udaju
CHECKOUT_URL = https:/$()/privofit.cz/cenik
